# Node.js
node_modules/

# Log files
logs/
*.log

# Temporary files
*.tmp
*.temp

# Build files
build/
dist/
out/
*.out

# Specific environment
.env.local
.env.development.local
.env.test.local
.env.production.local
cypress.env.json

# Visual Studio Code configuration files
.vscode/

# PhpStorm configuration files
.idea/

# Yarn dependency files
.yarn
.yarnrc
.yarn-integrity

# npm dependencies
package-lock.json
npm-debug.log

# Cypress
/cypress/videos/
/cypress/screenshots/
/cypress/reports/
