{
    "ENVIRONMENT": "TEST",
    "LOCAL": {
        "ENV": "0",
        "USER_ADMIN": "---",
        "USER_ATENDENTE1": "---",
        "USER_ATENDENTE2": "---",
        "PASSWORD": "---",
        "BASE_URL": "---",
        "DB_NAME": "---",
        "DB_USER": "---",
        "DB_HOST": "---",
        "DB_PORT": "---",
        "DB_PASSWORD": "---",
        "SENHA_RECEITA_USER": "---",
        "AUTH_TOKEN":"---",
        "USER_ID":"---",
        "USER_PASSWORD":"---"
    },
    "TEST": {
        "ENV": "1",
        "USER_ADMIN": "---",
        "USER_ATENDENTE1": "---",
        "USER_ATENDENTE2": "---",
        "USER_ORCAMENTISTA":"---",
        "USER_INCLUSAO": "---",
        "USER_CONFENTRADA": "---",
        "USER_CONFSAIDA": "---",
        "USER_EXPEDICAO": "---",
        "PASSWORD": "---",
        "BASE_URL": "---",
        "DB_NAME": "---",
        "DB_USER": "---",
        "DB_HOST": "---",
        "DB_PORT": "---",
        "DB_PASSWORD": "---",
        "SENHA_RECEITA_USER": "---",
        "AUTH_TOKEN":"",
        "USER_ID":"",
        "USER_PASSWORD":""
    },
    "PRODUCTION": {
        "ENV": "2",
        "USER_ADMIN": "---",
        "USER_ATENDENTE1": "---",
        "USER_ATENDENTE2": "---",
        "PASSWORD": "---",
        "BASE_URL": "---",
        "DB_NAME": "---",
        "DB_USER": "---",
        "DB_HOST": "---",
        "DB_PORT": "---",
        "DB_PASSWORD": "---",
        "SENHA_RECEITA_USER": "---",
        "AUTH_TOKEN":"",
        "USER_ID":"",
        "USER_PASSWORD":""
    },
    "FIREBIRD": {
        "FBDBURL": "---",
        "FBDBUSER": "---",
        "FBDBPASS": "---"
    }
}